.footer {
   padding-top: 66px;
   border-top: 1px solid var(--athens-gray);
}

.footer__logo {
   margin-bottom: 33px;
}

.footer__top {
   border-bottom: 1px solid var(--athens-gray);
   padding-bottom: 64px;
}

.footer__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 34px 0;
}

.footer__bottom-first span{
   margin-right: 6px;
}

.footer__bottom-first span:nth-child(2n){
   color: var(--gull-gray);
   font-size: 15px;
}

.footer__bottom-list {
   display: flex;
   gap: 32px;
}

.footer__bottom-link {
   font-size: 15px;
   line-height: 24px;
}

@media screen and (max-width: 992px) {
   .footer__bottom {
      flex-direction: column;
      align-items: start;
      gap: 15px;
   }

   .footer__bottom-first{
      order: 2;
   }
}

@media screen and (max-width: 575px) {
   .footer {
      padding-top: 30px;
   }

   .footer__menu {
      display: none;
   }

   .footer__logo {
      margin-bottom: 0;
   }

   .footer__top {
      padding-bottom: 30px;
   }
}