.pre-footer {
   padding: 251px 0 148px;
}

.pre-footer__title {
   width: 605px;
   font-size: 56px;
   line-height: 72px;
}

.pre-footer__title a {
   text-decoration: underline;
   color: var(--medium-purple);
}


@media screen and (max-width: 992px) {
   .pre-footer {
      padding: 150px 0 100px;
   }

   .pre-footer__title {
      width: 500px;
      font-size: 44px;
      line-height: 62px;
   }
}

@media screen and (max-width: 575px) {
   .pre-footer__title {
      width: 100%;
      font-size: 30px;
      line-height:52px;
   }
}