:root {
   --white: #fff;
   --medium-purple: #7F56D9;
   --ebony: #101828;
   --pale-sky: #667085;
   --gull-gray: #98A2B3;
   --oxford-blue: #344054;
   --athens-gray: #E4E7EC;
   --athens-gray-lite: #F9FAFB;
}